.admin-users-page {
  padding: 40px;
  background: #0b0f1a;
  min-height: 100vh;
  color: white;
}

.admin-title {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

.admin-table-wrapper {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table thead {
  background: #f5f5f5;
}


.admin-table td {
  padding: 16px 20px;
  text-align: center;
  font-size: 14px;
}

.admin-table th{
  padding: 16px 20px;
  text-align: center;
  font-size: 14px;
  color: black;
}

.admin-table tbody tr {
  border-top: 1px solid #e5e7eb;
}

.btn-edit {
  padding: 6px 18px;
  border-radius: 20px;
  background: #c7f9cc;
  color: #065f46;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-delete {
  padding: 6px 18px;
  border-radius: 6px;
  background: #6366f1;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-edit:hover {
  background: #a7f3d0;
}

.btn-delete:hover {
  background: #4f46e5;
}

.admin-loading {
  color: white;
  padding: 40px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}
